.PunchCardBox {
  background: var(--neutral-color);
  transition: height 0.7s linear, width 0.1s linear, visibility 0.01s linear;

  &--small {
    height: 0%;
    width: 0%;
    visibility: hidden;
  }

  &--large {
    height: 100%;
    width: 100%;
    visibility: visible;
  }
}
