.Landing {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;

  &__tl,
  &__tr,
  &__bl,
  &__br {
    height: 50vh;
    width: 50vw;
    position: relative;
    transition: 1s;
    // background-color: var(--accent-secondary);
  }
}
