.PaymentPanel {
  background-color: var(--neutral-color);
  height: 110%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    width: 80%;
    height: 100%;
    position: relative;

    &--numberTitle {
      font-size: 1.5rem;
      color: var(--accent-tertiary);
      padding-left: 35%;
      padding-top: 10%;
    }

    &--expiryTitle {
      font-size: 1.5rem;
      color: var(--accent-tertiary);
      padding-left: 35%;
      padding-top: 10%;
    }

    &--cvcTitle {
      font-size: 1.5rem;
      color: var(--accent-tertiary);
      padding-left: 35%;
      padding-top: 10%;
    }
    
    &--number {
      padding-left: 35%;
      padding-top: 2%;
    }

    &--expiry,
    &--cvc {
      padding-left: 35%;
      padding-top: 3%;
    }

    &--button {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__sword--one {
    position: absolute;
    transform: scale(0.3);
    top: 28%;
    left: -27%;
  }
  
  &__sword--two {
    position: absolute;
    transform: scale(0.3) rotateY(180deg);
    top: 28%;
    left: 37%;
  }

  &__success {
    color: var(--accent-primary);
    letter-spacing: 2px;
    font-size: 3em;
    font-family: var(--font-secondary);
  }
}