.ClassSelectionPanel {
  color: var(--accent-secondary);
  margin-top: -4%;
  width: 100%;
  min-height: 100%;
  position: relative;
  // background-color: white;

  &__list {
    position: relative;
    width: 100%;
    padding-inline-start: 0;
    height: 100%;
  }

  &__list:nth-child(1) {
    // padding-top: 26px;
  }

  &__listInfo {
    position: relative;
    // display: flex;
    width: 100%;
  }

  &__listItem {
    padding: 10px 5px;
    border-top: 2px solid var(--accent-secondary);
    min-height: 25px;
    list-style: none;


    &--unfocused {
      height: 3vh;
    }

    &--focused {
      height: 6vh;
    }

    &--time {
      position: absolute;
      left: 5%;
      top: 3.5%;
    }

    &--name {
      position: absolute;
      left: 16%;
      top: 3.5%;
    }

    &--book {
      position: absolute;
      left: 88%;
      background-color: var(--accent-secondary);
      width: 60px;
      height: 25px;
      z-index: 10;
    }

    &--difficulty {
      position: absolute;
      left: 65%;
      top: 3.5%;
    }

    &--timeTitle {
      position: absolute;
      left: 5%;
      top: 3.5%;
    }

    &--nameTitle {
      position: absolute;
      left: 16%;
      top: 3.5%;
    }

    &--bookTitle {
      position: absolute;
      left: 89%;
      top: 3.5%;
    }

    &--difficultyTitle {
      position: absolute;
      left: 65%;
      top: 3.5%;
    }
  }

  &__listItem:hover {
    background-color: var(--primary-color);
  }

  &__listItem:nth-child(1):hover {
    background-color: transparent;
  }

  &__listItem:nth-child(1) {
    border-top: none;
  }
}

.ClassSelectionPanel--button {
  height: 100%;
  width: 100%;
  color: var(--neutral-color);
  text-align: center;
  line-height: 25px;
  z-index: 15;
}

.ClassSelectionPanel--button:before {
  content: '';
  position: absolute;
  background-color: var(--accent-primary);
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  z-index: -1;
  transition: 0.2s linear;
}

.ClassSelectionPanel__listItem--book:hover .ClassSelectionPanel--button:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}