.ClassSelectionPanel {
  background-color: greenyellow;
  
  margin-top: -4%;
  width: 100%;
  min-height: 100%;

  &__list {
    position: relative;
    width: 100%;
    padding-inline-start: 0;
    height: 100%;
  }

  &__list:nth-child(1) {
    padding-top: 50px;
  }

  &__listInfo {

    display: flex;
  }

  &__listItem {
    padding: 10px 5px;
    border-top: 2px solid black;
    transition: all 0.3s linear;
    list-style: none;


    &--unfocused {
      height: 3vh;
    }

    &--focused {
      height: 6vh;
    }

    &--time {
      width: 15%;
      text-align: center;
    }

    &--name {
      width: 50%;
    }

    &--spots {
      width: 10%;
      text-align: center;
    }

    &--difficulty {
      width: 25%;
      text-align: end;
      padding-right: 10px;
    }

    &--timeTitle {
      width: 15%;
      text-align: center;
    }

    &--nameTitle {
      text-align: center;
      width: 25%;
      padding-right: 20%;
      padding-left: 5%;
    }

    &--spotsTitle {
      width: 10%;
      text-align: center;
    }

    &--difficultyTitle {
      width: 25%;
      text-align: end;
      padding-right: 10px;
    }
    &--button {
      height: 30px;
      width: 60px;
      background-color: hotpink;
      margin: 0 auto;
      margin-top: 10px;
      text-align: center;
      line-height: 30px;
    }

    &--hideButton {
      display: none;
    }

    &--showButton {
      display: block;
    }
  }

  &__listItem:nth-child(1) {
    border-top: none;
  }
}