.PunchCard {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  &__namaslay {
    background-color: --color-secondary;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__image {
    width: 100%;
    height: 100%;

    &--small {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &--bigOne {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 5;
      grid-column-end: 6;
    }

    &--bigTwo {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  &__topImage {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__bottomImage {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__card {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__singleClass {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    border-bottom: 2px solid var(--neutral-color);
  }

  &__fiveClasses {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    border-bottom: 2px solid var(--neutral-color);
  }

  &__twentyFiveClasses {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    border-bottom: 2px solid var(--neutral-color);
  }

  &__monthUnlimited {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
  }

  &__sword1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sword2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }

  &__sword3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }

  &__sword4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}