.PunchCard {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  &__namaslay {
    background-color: --color-secondary;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__image {
    width: 100%;
    height: 100%;

    &--small {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &--bigOne {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 4;
      grid-column-end: 5;
    }

    &--bigTwo {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }

  &__topImage {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__bottomImage {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__card {
    background-color: darkmagenta;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__singleClass {
    background-color: darkolivegreen;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &__fiveClasses {
    background-color: darksalmon;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &__twentyFiveClasses {
    background-color: greenyellow;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &__monthUnlimited {
    background-color: lavender;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
  }
}