.UserDataPanel {
  position: relative;

  &__button {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
  
  &__title {
    // text-align: center;
    // color: var(--accent-secondary);
  }
  
  &__chart {

  }

}

