.ImagePanelBig {
  background-color: var(--accent-primary);
  mix-blend-mode: difference;

  &__image{
    object-fit: cover;
    overflow: hidden;

    &--50 {
      width: 50vw;
      height: 50vh;
      filter: blur(5px);
      background-color: transparent;
    }

    &--32 {
      width: 100vw / 6 * 2;
      height: 50vh;
      filter: blur(5px);
      background-color: transparent;
    }

    &--16 {
      width: (100vw / 6);
      height: 50vh;
      filter: blur(5px);
      background-color: transparent;
    }
  }
}