.ScheduleBox {
  background: var(--neutral-color);
  color: var(--accent-secondary);
  transition: height 0.35s linear, width 0.1s linear, visibility 0.01s linear;
  transition-delay: 0.1s;
  &--small {
    height: 0%;
    width: 0%;
    visibility: hidden;
  }

  &--large {
    height: 100%;
    width: 100%;
    visibility: visible;
  }
}
