.TeacherFilterBox {
  background-color: var(--accent-secondary);
  color: var(--neutral-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;

  span {
    font-size: 2em;
  }
}

.TeacherFilterBox:hover {
  background-color: var(--accent-primary);
}