@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.BreathePanel {

  background: #224941 url('../../../dev_data/images/breatheBackground.jpeg') no-repeat center center/cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  &__container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(0.75);

    &__circle {

      background-color: #010f1c;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
    // .text-appear {
    //   opacity: 0;
    //   color: blue
    // }
    // .text-appear.text-appear-active {
    //   opacity: 1;
    //   transition: opacity 3000ms linear;
    //   color: red
    // }


    // .text-enter {
    //   opacity: 0;
    //   z-index: 1;
    // }

    // .text-enter.text-enter-active {
    //   opacity: 1;
    //   transition: opacity 3000ms linear;
    // }
    // .text-exit {
    //   opacity: 0;
    //   color: yellow
    // }
    // .text-exit.text-exit-active {
    //   color: green
    // }
    // .text-exit-done {
    //   color: white
    // }





    .text1 {
      animation: asdasd 2s linear forwards;
    }
    .text2 {
      animation: asdasda 2s linear backwards;
    }
  
    &__pointer-container {

      position: absolute;
      top: -40px;
      left: 140px;
      width: 20px;
      height: 190px;
      animation: rotate 7.5s linear forwards infinite;
      transform-origin: bottom center;
  
      &-pointer {
  
        background-color: #fff;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: block;
      }
    }
  
    &__gradient-circle {

      background: conic-gradient(
        #55b7a4 0%,
        #4ca493 40%,
        #2a5b52 60%,
        #336d62 100%

      );
      height: 320px;
      width: 320px;
      z-index: -2;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      left: -10px;
  
    }

  }
}

@keyframes asdasd {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes asdasda {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

