.UserProfile {
  height: 100vh;
  width: 100vw;
  background-color: var(--neutral-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25vh 25vh 25vh 25vh;
  position: relative;

  &__Namaslay {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
  }
  &__nextClass {
    height: 100%;
    width: 100%;
    background-color: var(--accent-secondary);
    color: var(--neutral-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px var(--neutral-color) solid;
    z-index: 5;

    &--title {
      font-size: 2em;
      font-family: var(--font-secondary);
    }

    &--time,
    &--class,
    &--teacher {
      font-size: 0.8em;
      font-family: var(--font-tertiary);
    }
  }
  &__AccountSettings {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    background-color: var(--accent-tertiary);
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__SubscriptionDetails {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    background-color: var(--neutral-color);
    color: var(--accent-secondary);
  }
  &__ClassHistory {
    height: 100%;
    width: 100%;
    background-color: var(--accent-secondary);
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-bottom: 2px solid var(--neutral-color);
    
    span {
      font-size: 3rem;
      font-family: var(--font-secondary);
    }
  }
  &__BrowseReviews {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    background-color: var(--accent-tertiary);
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    span {
      font-size: 3rem;
      font-family: var(--font-secondary);
    }
  }

  &__Breathe {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    background-color: turquoise;
  }

  &__Data {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    height: 100%;
    width: 100%;
  }
  &__ViewPanel {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    height: 100%;
    width: 100%;
    color: var(--neutral-color);
    background-color: var(--accent-tertiary);
  }
  &__Notifications {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
    height: 100%;
    width: 100%;
    color: var(--accent-secondary);
  }
}
