.NamaslayPanel {
  height: 50vh;
  position: relative;

  &--small {
    width: 100vw / 6;
  }

  &--large {
    width: 50vw;
  }

  &__title {

    position: absolute;
    top: 5%;
    left: 50%;
    color: var(--accent-primary);
    // transform: rotate(-90deg);
    transform: translateX(-50%);
    font-size: 6rem;

    &--turned {
      position: absolute;
      top: 25%;
      left: -5%;
      color: var(--accent-primary);
      transform: rotate(-90deg) translateX(0);
      font-size: 6rem;
    }

    &--turned2 {
      position: absolute;
      top: 25%;
      left: -15%;
      color: var(--accent-primary);
      transform: rotate(-90deg) translateX(0);
      font-size: 6rem;
    }
  
    &--nama {
      font-family: 'Dancing Script', cursive;
    }
    &--slay {
      font-family: 'Metal Mania', cursive;
    }
  }

  &__quote {
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent-primary);
    font-family: 'Rock Salt', cursive;
    font-size: 1.5em;
    text-align: center;
  }
  &__buttons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 49%;
    justify-content: space-between;
  }

  &__login {
    
  }

  &__logout {

  }
}
