.Schedule {
  background-color: plum;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25vh 25vh 25vh 25vh;

  &__namaslay {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__classesLeft {
    background-color: brown;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__calendar {
    background-color: navajowhite;
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__classSelection {
    background-color: grey;
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  &__dynamicSelection {
    background-color: red;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  &__teacherFilter  {
    background-color: yellow;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  &__disciplineFilter {
    background-color: purple;
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  &__eventFilter {
    background-color: olive;
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
    z-index: 190;
  }
  
  &__difficultyFilter {
    background-color: orangered;
    width: 100%;
    height: 100%;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  &__clearFilters {
    background-color: coral;
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__teacherInfo {
    background-color: peru;
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 7;
  }

  &__classInfo {
    background-color: powderblue;
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 7;
  }
}
