.Schedule {
  background-color: var(--neutral-color);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25vh 25vh 25vh 25vh;

  &__namaslay {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__classesLeft {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 2px solid var(--accent-secondary);
    border-bottom: 1px solid var(--accent-secondary);
    color: var(--accent-secondary);
    z-index: 5;
  }

  &__calendar {
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__classSelection {
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    border-top: 2px solid var(--accent-secondary);
  }

  &__dynamicSelection {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  &__teacherFilter  {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
    color: var(--accent-secondary);
  }

  &__disciplineFilter {
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
    border-top: 2px solid var(--neutral-color);
    color: var(--accent-secondary);
  }

  &__eventFilter {
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
    // z-index: 190;
    border-top: 2px solid var(--neutral-color);
    color: var(--accent-secondary);
  }
  
  &__difficultyFilter {
    width: 100%;
    height: 100%;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    border-top: 2px solid var(--neutral-color);
    color: var(--accent-secondary);
  }

  &__clearFilters {
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 2px solid var(--accent-secondary);
    border-top: 1px solid var(--accent-secondary);
    color: var(--accent-secondary);
  }

  &__teacherInfo {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 7;
    border: 2px solid var(--accent-secondary);
    border-top: 1px solid var(--accent-secondary);
    color: var(--accent-secondary);
  }

  &__classInfo {
    width: 100%;
    height: 100%;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 7;
    border: 2px solid var(--accent-secondary);
    border-top: 1px solid var(--accent-secondary);
    color: var(--accent-secondary);
  }
}
