.st1{
  fill:#ED6323;
}
.st3 {
  fill: transparent;
  stroke: var(--accent-secondary);
  stroke-width: 10;
  // stroke-dasharray: 5800;
  // stroke-dashoffset: 0;
  // animation: animate-warrior 2s linear forwards;
}

.st2 {
  fill: transparent;
  stroke: var(--accent-secondary);
  stroke-width: 10;
  // stroke-dasharray: 5800;
  // stroke-dashoffset: 0;
  // animation: animate-warrior 2s linear forwards;
}