.text1 {
  animation: size 4s linear forwards;
}

.text2 {
  animation: size 4s linear forwards;
}

@keyframes size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
