body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #045658;
  --secondary-color: #47802b;
  --accent-primary: #fdac07;
  --accent-secondary: #ef6101;
  --accent-tertiary: #b50e0e;
  --neutral-color: #03161d;
  --font-primary: 'Dancing Script';
  --font-secondary: 'Metal Mania';
  --font-tertiary: 'Rock Salt';

  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--neutral-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}
