.Nav {
  background-color: violet;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--small {
    width: 75px;
    height: 75px;
  }

  &--large {
    height: 100vh;
  }
}
